@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'DotGothic16', sans-serif;
}

.container {
    text-align: center;
}

#logo {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 20%;
    min-width: 174px;
}

.context {
    font-size: 1.5rem;
}

.register {
    display: inline-block;
    margin: 0 20px 0 20px;
}

.login {
    display: inline-block;
    margin: 0 20px 0 20px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(17, 152, 243);
}
  
a:active {
    color: black;
}