{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
    <div class="container">
        <div class="logo">
            <a href="/"><img src="{{url_for('static', filename='logo.png')}}" id="logo"/></a>
        </div>
        <div class="context">
            <form method="POST">
                <input type="text" name="nickname" placeholder="Nickname" required>
                <br>
                <input type="password" name="password" minlength="8" placeholder="Password" required>
                <br>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
{% endblock %}