{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block body %}
    <div class="container">
        <div class="logo">
            <a href="/"><img src="{{url_for('static', filename='logo.png')}}" id="logo"/></a>
        </div>
        <div class="context">
            <form method="POST">
                <input type="text" name="firstname" id="firstname" placeholder="First name" required>
                <br>
                <input type="text" name="lastname" id="lastname" placeholder="Last name" required>
                <br>
                <input type="text" name="nickname" id="nickname" placeholder="Nickname" required>
                <br>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <br>
                <input type="password" name="password" id="password" minlength="8" placeholder="Password" required>
                <br>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
{% endblock %}